.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: gray;
    
}


.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-details {
    margin-top: 12px;
}

.product-id,
.product-title,
.product-price,
.product-description,
.product-category,
.product-rate,
.product-count {
    display: block;
    margin-bottom: 8px;
}

.product-title {
    font-weight: bold;
    font-size: 1.2em;
}

.product-price {
    color: #2d2d2d;
    font-size: 1.1em;
}

.product-description {
    color: #2d2d2d;
    font-size: 0.9em;
}

.product-category {
    color: #2d2d2d
}

.product-rate,
.product-count {
    color: #333;
}

.product-id {
    font-size: 0.9em;
    color: #777;
}
